/*Header starts*/
header {
    background: #fff;
    width: 100%;
    flex: 0 1 auto;
    align-self: auto;
}
.header-wrapper {    

    @media only screen and (max-width: 768px) {
        display: flex;       
        align-items: center;
        height: 70px;;
    }

    .header-logo  {      
        padding: 15px;
        text-align: center;

        @media only screen and (max-width: 768px) {
           order: 1;  
           flex: 1 1 auto; 
        }

        img { 
            width: 400px;
            max-width: 100%;
        }
    }

    .center {
        @media only screen and (max-width: 768px) {
            order: 1;  
            flex: 1 1 auto; 
         }
    }
}

/*header finished*/