/*title container starts*/
.title-container {
    text-align: center;
    margin-bottom: 30px;;
    h1 {
        font-size: 30px;
        padding: 0 10px 10px 10px;
    }
}
/*title container finished*/